/* jx notification classes */
.jxNotificationContainer {
    border: 2px solid #000;
    background-color: #ccc;
    padding: 2px;
}

.jxNoticeList {
    position: relative;
}

.jxNoticeItem {
    position: relative;
    border: 2px solid blue;
    margin: 2px;
    padding: 2px;
    visibility: hidden;
}

.jxNotice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
}

.jxNoticeClose {
    position: absolute;
    top: 2px;
    right: 2px;
}