.jxInputSpinners {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0px;
    top: 0px;
    margin: 0px 8px 4px 4px;
    font-size: 0px;
    line-height: 0px;
}

.jxInputSpinners .jxButtonContainer,
.jxInputSpinners .jxButton {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: transparent;
    background-image: none;
}

img.jxInputSpinUpIcon {
    background-image: url(images/emblems.png);
    background-position: right -160px;
    background-repeat: no-repeat;
    margin-top: -2px;
}

img.jxInputSpinDownIcon {
    background-image: url(images/emblems.png);
    background-position: right -16px;
    background-repeat: no-repeat;
    margin-top: -2px; 
}
