/* Chrome uses four absolutely positioned DIVs containing an image for each of four quadrants.  The chrome image is used as a sprite map. */

.jxChrome {
  /* Base setup */
  position:absolute;
  display: block;
  font-size: 0px;
  line-height: 0px;
  z-index: 0;
}

.jxChromeTL { 
  position: absolute; 
  overflow: hidden; 
  left: 0%; 
  top: 0%; 
  width: 50%; 
  height: 50%; 
}

.jxChromeTR { 
  position: absolute; 
  overflow: hidden; 
  left: 50%; 
  top: 0%; 
  width: 50%; 
  height: 50%; 
}

.jxChromeBL { 
  position: absolute; 
  overflow: hidden; 
  left: 0%; 
  top: 50%; 
  width: 50%; 
  height: 50%; 
}

.jxChromeBR { 
  position: absolute; 
  overflow: hidden; 
  left: 50%; 
  top: 50%;  
  width: 50%; 
  height: 50%; 
}


.jxChromeTL img { 
  position: absolute; 
  top: 0px; 
  left: 0px; 
}

.jxChromeTR img { 
  position: absolute; 
  top: 0px; 
  right: 0px; 
}

.jxChromeBL img { 
  position: absolute; 
  bottom: 0px; 
  left: 0px; 
}

.jxChromeBR img { 
  position: absolute; 
  bottom: 0px; 
  right: 0px; 
}

