/* FileUploadPanel */
.jxFileUploadPanel {
    padding: 5px;
}

.jxFileUploadPanel .jxInputContainer {
    width: 300px;
}
 
.jxUploadQueue {
    width: 100%;  
    margin-top: 10px;  
}

.jxUploadQueue div {
    position: relative;
    width: 95%;
    clear: both;
    border-top: 1px solid black;
    padding: 2px;
}

.jxUploadQueue div span {
    display: block;
}

.jxUploadQueue div span.jxUploadFileName {
    float: left;
    font-size: 16px;
}

.jxUploadQueue div span.jxUploadFileDelete,
.jxUploadQueue div span.jxUploadFileProgress,
.jxUploadQueue div span.jxUploadFileComplete,
.jxUploadQueue div span.jxUploadFileError {
    float: right;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: top left;
    cursor: pointer;
}

.jxUploadQueue div span.jxUploadFileDelete {
    background-image: url('images/delete.gif');
}

.jxUploadQueue div span.jxUploadFileProgress {
    background-image: url('images/loading.gif');
}

.jxUploadQueue div span.jxUploadFileComplete {
    background-image: url('images/green_tick.png');
}

.jxUploadQueue div span.jxUploadFileError {
    background-image: url('images/error.png');
}

.jxUploadFileErrorTip {
  padding: 4px 4px 4px 20px; 
  border: 2px solid #ddd;
  background: url("images/error.png") no-repeat left top;
  color: black;
  width: 100px;
}
