@CHARSET "UTF-8";

.jxDVGroupContainer {
    float: left;
    clear: both;
    width: 90%;
    margin-left: 5px;
}

.jxDVGroupHeader {
    width: 100%;
    float: left:
    clear: both;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.jxDVContainer {
    width: 100%;
    clear: both;
    float: left;
}

.jxDVItem {
    float: left;
    width: 100px;
    margin: 5px;
    height: 150px;
}

.jxDVItem img {
    width: 100px;
}

.jxDVItem span {
    display: block;
}